*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.hero-section{
    display: grid;
    grid-template-columns: 60% 30%;
    margin-bottom: 50px;
    margin-top: 50px;
}


.hero-section-para{
    margin-top: 50px;
    margin-left: 200px;
}


img{
    height: 350px;
    width: 400px;
}


.btn{
    margin-top: 20px;
    background-color: blue;
    padding: 10px 25px 10px 25px;
    color: white;
    border: none;
    font-size: 15px;
    margin-left: 5px;
    font-weight: bolder;
}


.hero-heading{
    font-size: 50px;
    font-style: bold;
}



.hero-middle-section{
    margin-top: 10px;
}