.main{
    display: grid;
    grid-template-columns: 35% 65%;
    margin-left: 150px;
    margin-right: 150px;
    height: 500px;
    margin-bottom: 200px;
}


p{
    font-size: 16px;
}



label{
    font-size: 18px;
}

/* section-one */




.section-one{
    background-color: #0b74d783;
    padding: 30px;
    height: 550px;
}


.section-one h2{
    padding-top: 22px;
    font-size: 22px;
}

.section-one p{
    padding-top: 20px;
    padding-bottom: 10px;
}


.social-icon-first{
    display: flex;
    padding: 25px;
    justify-content: center;
}


.social-icon-first .social-instagram{
    margin-right: 25px;
    
}


.social-icon-first .social-linkedin{
    margin-right: 25px;
}





/* section-two */




.section-two{
    margin: 50px;
}



.section-two h2{
    margin-bottom: 25px;
    margin-top: 50px;
    font-size: 22px;
}

.section-two input{
    margin-top: 5px;
    font-size: 18px;
    padding-right: 70px;
    border: none;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}


.section-two 
input:hover,
input:focus {
  background: #edf3f3;
  transition: 0.5s linear 0s;

}


.section-two div{
    margin-bottom: 30px;
}





.section-two .phone input{
    width: auto;
}



.section-two .message ::placeholder{
    font-size: 18px;
}


.section-two .message
textarea:hover,
textarea:focus {
  background: #edf3f3;
  transition: 0.5s linear 0s;

}

.section-two .message textarea{
    border: none;
    margin-top: 5px;
    border-bottom: 1px solid gray;
    padding-right: 160px;
}


.section-two-btn{
    padding: 12px;
    border-radius: 5px;   
    border: none;
    background-color: #0b74d783; 
    cursor: pointer;
}




             /* responsive style */






@media (max-width: 998px) {


    .main{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
        height: 412px;
        margin-bottom: 650px;
    }
    
}

@media (max-width: 798px) {
    .main{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
        height: 412px;
        margin-bottom: 650px;
    }







}



@media (max-width: 520px) {

    .main{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        margin-right: 25px;
        height: 430px;
        margin-bottom: 650px;
    }


    .section-two .message textarea{
        border: none;
        margin-top: 5px;
        border-bottom: 1px solid gray;
        padding-right: 100px;
    }


    .section-two{
        margin: 50px;   
     }
    
    
}