* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.myservices {
    margin-bottom: 75px;
    margin-top: 75px;
    margin-left: 125px;
    margin-right: 125px ;
}

.myservices .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 100px;
    padding-bottom: 20px;
}


.myservices .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 215px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}



.myservices .title::after {
    content: "what i provide";
    position: absolute;
    bottom: -5px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    height: 15px;
    background: white;
    transform: translateX(-50%);
}




.main-div {
    display: flex;
    flex-direction: row;
}

.main-div p{
    font-size: 18px;
}


.div-one{
    color: black;
    text-align: center;
    background-color: #0b74d783;
    margin-right: 25px;
    margin-left: 25px;
    padding: 50px;
}

.div-one h3{
    padding-top: 15px;
    padding-bottom: 10px;
}


.div-two{
    color: black;
    text-align: center;
    background-color: #0b74d783;
    margin-right: 25px;
    margin-left: 25px;
    padding: 50px;
}

.div-two h3{
    padding-top: 15px;
    padding-bottom: 10px;
}


.div-three{
    color: black;
    background-color: #0b74d783;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    padding: 50px;
}


.div-three h3{
    padding-top: 15px;
    padding-bottom: 10px;
}

@media (max-width: 1080px){


    .div-one{
        padding: 25px;
        
    }


    .div-two{
        padding: 25px;
    }


    .div-three{
        padding: 25px;
    }
}

@media (max-width: 998px) {


    .main-div {
        display: flex;
        flex-direction: column;
        margin-left: -75px;
        margin-right: -75px;
    }

    .div-one{
        margin-top: 20px;
        margin-bottom: 10px;
    
    }
    
    .div-two{
    margin-top: 20px;
    margin-bottom: 10px;
    
    }
    
    .div-three{
    margin-top: 20px;
    margin-bottom: 10px;
    
    }

}


@media (max-width: 798px) {
    .main-div {
        display: flex;
        flex-direction: column;
        margin-left: -75px;
        margin-right: -75px;
    }


.div-one{
    margin-top: 20px;
    margin-bottom: 20px;

}

.div-two{
margin-top: 20px;
margin-bottom: 20px;

}

.div-three{
margin-top: 20px;
margin-bottom: 20px;

}

}





@media (max-width: 520px) {
    .main-div {
        display: flex;
        flex-direction: column;
        margin-left: -75px;
        margin-right: -75px;
    }


.div-one{
    margin-top: 15px;
    margin-bottom: 15px;    
}

.div-two{
margin-top: 15px;
margin-bottom: 15px;

}

.div-three{
margin-top: 15px;
}

}

