* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.myservices {
    padding-top: 50px;
    padding-bottom: 75px;
}

.myservices .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 100px;
    padding-bottom: 20px;
}


.myservices .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 215px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}



.myservices .title::after {
    content: "what i provide";
    position: absolute;
    bottom: -5px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    height: 15px;
    background: white;
    transform: translateX(-50%);
}




.main-div {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
}

.div-one{
    color: black;
    text-align: center;
    background-color: #0b74d783;
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 25px;
    padding-bottom: 40px;
}

.div-one h3{
    padding-top: 15px;
    padding-bottom: 10px;
}


.div-two{
    color: black;
    background-color: #0b74d783;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    margin-left: 25px;
    padding-top: 25px;
    padding-bottom: 40px;
}

.div-two h3{
    padding-top: 15px;
    padding-bottom: 10px;
}


.div-three{
    color: black;
    background-color: #0b74d783;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    margin-left: 25px;
    padding-top: 25px;
    padding-bottom: 40px;
}


.div-three h3{
    padding-top: 15px;
    padding-bottom: 10px;
}





@media (max-width: 480px) {
    .main-div {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
    }


.div-one{
    margin-top: 10px;
    margin-bottom: 10px;

}

.div-two{
margin-top: 10px;
margin-bottom: 10px;

}

.div-three{
margin-top: 10px;
}


}