* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.basic-qualification {
    margin-left: 100px;
    margin-right: 100px;
}





.basic-qualification h3 {
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;

}



   /* section-one */





   .degree{
    margin-top: 75px;
    margin-bottom: 25px;
    display: flex;
    margin-left: 0px;
    padding-right: 0px;

}





.degree-one-icon img {
    height: 150px;
    width: 235px;
    padding-bottom: 10px;
    margin-right: 40px;
    padding-top: 20 px;
   
}


.degree-div-one {
    border: 2px solid green;
    margin-bottom: 25px;
    margin-top: 25px;

}


.degree-title {
    background-color: skyblue;
}

.degree-div-one h4 {
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 900;
    padding-left: 25px;
}


.degree-div-one h4 span {
    margin-left: 160px;
    font-size: 16px;
    padding-right: 40px;
}




.degree-div-one h6 {
    padding-bottom: 10px;
    font-size: 18px;
    padding-left: 25px;

}


.degree-div-one .degree-para {
    background-color: white;
    padding-left: 25px;
    padding-bottom: 10px;

}







/* Section-div-two */




.degree-div-two {
    border: 2px solid green;
    margin-bottom: 25px;
    margin-left: 0px;
}


.degree-title {
    background-color: skyblue;
}

.degree-div-two h4 {
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 900;
    padding-left: 25px;
}


.degree-div-two h4 span {
    margin-left: 200px;
    font-size: 16px;
    padding-right: 40px;
}


.degree-div-two h6 {
    padding-bottom: 10px;
    font-size: 18px;
    padding-left: 25px;

}


.degree-div-two .degree-para {
    background-color: white;
    padding-left: 25px;
    padding-bottom: 10px;

}



.degree-two-icon img {
    height: 150px;
    width: 235px;
    padding-bottom: 10px;
}




.degree-two {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    margin-left: 50px;
    padding-right: 10px;

}


/* responsive style  */


@media (max-width: 998px) {

    .basic-qualification {
        display: flex;
        flex-direction: column;
    }


.degree-one-icon img {
    height: 180px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
   padding: 40px;
}



.degree{
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    margin-right: -100px;
    padding-left: 0px;
    padding-right: 0px;
}




.degree-one-icon img {
    height: 180px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 0px;
}




.degree-div-one h4 {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 25px;
    padding-left: 25px;
}





.degree-div-one h4 span {
    margin-left: -115px;
    margin-top: 55px;
    position: absolute;
    display: inline;

}






.degree-two {
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    margin-right: -100px;
    padding-left: 0px;
    padding-right: 0px;
}




.degree-two-icon img {
    height: 180px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}




.degree-div-two h4 {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 25px;
    padding-left: 25px;
}





.degree-div-two h4 span {
    margin-left: -115px;
    margin-top: 55px;
    position: absolute;
    display: inline;

}


.degree-div-one{
    margin-left: 25px;
    margin-right: 25px;
}




.degree-div-two{
    margin-left: 25px;
    margin-right: 25px;
}



}



@media (max-width: 798px) {
   
   
   
    .basic-qualification {
        display: flex;
        flex-direction: column;
    }



    .degree-one-icon img {
        height: 280px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
       
    }



    .degree{
        display: flex;
        flex-direction: column;
        margin-left: -100px;
        margin-right: -100px;
        padding-left: 0px;
        padding-right: 0px;
    }

 


    .degree-one-icon img {
        height: 180px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        padding: 40px;
    }




    .degree-div-one h4 {
        padding-top: 20px;
        margin-bottom: 40px;
        font-size: 25px;
        padding-left: 25px;
    }




    
    .degree-div-one h4 span {
        margin-left: -115px;
        margin-top: 55px;
        position: absolute;
        display: inline;

    }






    .degree-two {
        display: flex;
        flex-direction: column;
        margin-left: -100px;
        margin-right: -100px;
        padding-left: 0px;
        padding-right: 0px;
    }

 


    .degree-two-icon img {
        height: 180px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }




    .degree-div-two h4 {
        padding-top: 20px;
        margin-bottom: 40px;
        font-size: 25px;
        padding-left: 25px;
    }




    
    .degree-div-two h4 span {
        margin-left: -115px;
        margin-top: 55px;
        position: absolute;
        display: inline;

    }


    .degree-div-one{
        margin-left: 50px;
        margin-right: 50px;
    }




    .degree-div-two{
        margin-left: 50px;
        margin-right: 50px;
    }


   


}






@media (max-width: 520px) {
    .basic-qualification {
        display: flex;
        flex-direction: column;
    }



    .degree-one-icon img {
        height: 280px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
       
    }



    .degree{
        display: flex;
        flex-direction: column;
        margin-left: -100px;
        margin-right: -100px;
        padding-left: 0px;
        padding-right: 0px;
    }

 


    .degree-one-icon img {
        height: 180px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        padding: 40px;
    }




    .degree-div-one h4 {
        padding-top: 20px;
        margin-bottom: 40px;
        font-size: 25px;
        padding-left: 25px;
    }




    
    .degree-div-one h4 span {
        margin-left: -115px;
        margin-top: 55px;
        position: absolute;
        display: inline;

    }






    .degree-two {
        display: flex;
        flex-direction: column;
        margin-left: -100px;
        margin-right: -100px;
        padding-left: 0px;
        padding-right: 0px;
    }

 


    .degree-two-icon img {
        height: 180px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }




    .degree-div-two h4 {
        padding-top: 20px;
        margin-bottom: 40px;
        font-size: 25px;
        padding-left: 25px;
    }




    
    .degree-div-two h4 span {
        margin-left: -115px;
        margin-top: 55px;
        position: absolute;
        display: inline;

    }


    .degree-div-one{
        margin-left: 50px;
        margin-right: 50px;
    }




    .degree-div-two{
        margin-left: 50px;
        margin-right: 50px;
    }


}
