* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.basic-qualification h3{
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;

}




.degree-one-icon img{
height: 150px;
margin-right: 10px;
padding-top: 40px;
padding-right: 45px;
padding-bottom: 15px;
padding-left: 70px;
}




.degree {
    margin-top: 50px;
    display: flex;
    margin-left: 50px;
}


.degree-div-one {
    border: 2px solid green;
        margin-bottom: 25px;
        margin-top: 25px;
        
}


.degree-title{
background-color: skyblue;
}

.degree-div-one h4{
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 900;
    padding-left: 25px;
}


.degree-div-one h4 span{
    margin-left: 160px;
    font-size: 16px;
    padding-right: 20px;
}


.degree-div-one h6{
    padding-bottom: 10px;
    font-size: 18px;  
    padding-left: 25px;

}


.degree-div-one .degree-para{
    background-color: white;
    padding-left: 25px;
    padding-bottom: 10px;
    
}


/* Section-div-two */




.degree-div-two {
    border: 2px solid green;
        margin-bottom: 25px;
}


.degree-title{
background-color: skyblue;
}

.degree-div-two h4{
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 900;
    padding-left: 25px;
}


.degree-div-two h4 span{
    margin-left: 200px;
    font-size: 16px;
    padding-right: 40px;
}


.degree-div-two h6{
    padding-bottom: 10px;
    font-size: 18px;  
    padding-left: 25px;

}


.degree-div-two .degree-para{
    background-color: white;
    padding-left: 25px;
    padding-bottom: 10px;
    
}



.degree-two-icon img{
    height: 150px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 70px;
    margin-right: 10px;
    }
    



    .degree-two{
        margin-top: 100px;
        margin-bottom: 100px;    
        display: flex;
        margin-left: 50px;
        padding-right: 10px;

    }
    
    