* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.myservices {
    padding-bottom: 125px;
    padding-top: 50px;
}

.myservices .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}


.myservices .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}



.myservices .title::after {
    content: "what i provide";
    position: absolute;
    bottom: -5px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    height: 15px;
    background: white;
    transform: translateX(-50%);
}




.main-div {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    margin-left: 150px;
    margin-right: 150px;
}

.div-one{
    color: crimson;
    text-align: center;
    background-color: green;
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 25px;
    padding-bottom: 40px;
}

.div-one h3{
    padding-top: 15px;
    padding-bottom: 10px;
}


.div-two{
    color: crimson;
    background-color: green;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    margin-left: 25px;
    padding-top: 25px;
    padding-bottom: 40px;
}

.div-two h3{
    padding-top: 15px;
    padding-bottom: 10px;
}


.div-three{
    color: crimson;
    background-color: green;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    margin-left: 25px;
    padding-top: 25px;
    padding-bottom: 40px;
}


.div-three h3{
    padding-top: 15px;
    padding-bottom: 10px;
}
